  <%= f.error_messages %>

  <%
    if mode == 'new'
      submit_text = "Create"
    else
      submit_text = "Update"
    end

    disabled = !User.current_user(session).admin?
  %>

  <% if disabled %>
    <%= f.hidden_field :company_id %>
  <% end %>

  <p>
    <%= f.label :'company' %><br />
    <%= collection_select(:pet_owner, :company_id, Company.find(:all, :order => "name"), :id, :name, 
          {}, {:disabled => disabled }) %>
  </p>

  <p>
    <%= f.label :'First Name' %><br />
    <%= f.text_field :firstName %>
  </p>
  <p>
    <%= f.label :'Last Name' %><br />
    <%= f.text_field :lastName %>
  </p>
  <p>
    <%= f.label :'Home Phone' %><br />
    <%= f.text_field :homePhone %>
  </p>
  <p>
    <%= f.label :'Work Phone' %><br />
    <%= f.text_field :workPhone %>
  </p>
  <p>
    <%= f.label :'Cell Phone' %><br />
    <%= f.text_field :cellPhone %>
  </p>
  <p>
    <%= f.label :'salutation' %><br />
    <%= f.text_field :salutation %>
  </p>

  <p>
    <div>
      <%= f.submit submit_text %> <%= link_to 'Cancel', pet_owners_path %>
    </div>
  </p>
