  <%= f.error_messages %>

  <p>
    <%= f.label :'First Name' %><br />
    <%= f.text_field :firstName %>
  </p>
  <p>
    <%= f.label :'Last Name' %><br />
    <%= f.text_field :lastName %>
  </p>
  <p>
    <%= f.label :'Home Phone' %><br />
    <%= f.text_field :homePhone %>
  </p>
  <p>
    <%= f.label :'Work Phone' %><br />
    <%= f.text_field :workPhone %>
  </p>
  <p>
    <%= f.label :'Cell Phone' %><br />
    <%= f.text_field :cellPhone %>
  </p>
  <p>
    <%= f.label :'salutation' %><br />
    <%= f.text_field :salutation %>
  </p>

  <p>
    <%= f.submit label_text %>
  </p>
