<p>
  <b>First Name:</b>
  <%=h @pet_owner.firstName %>
</p>

<p>
  <b>Last Name:</b>
  <%=h @pet_owner.lastName %>
</p>

<p>
  <b>Home Phone:</b>
  <%=h @pet_owner.homePhone %>
</p>

<p>
  <b>Work Phone:</b>
  <%=h @pet_owner.workPhone %>
</p>

<p>
  <b>Cell Phone:</b>
  <%=h @pet_owner.cellPhone %>
</p>

<p>
  <b>Salutation:</b>
  <%=h @pet_owner.salutation %>
</p>


<%= link_to 'Edit', edit_pet_owner_path(@pet_owner) %> |
<%= link_to 'Back', pet_owners_path %>
