<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<html>
  <head>
    <title>Grooming Salon</title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="/javascripts/prototype.js"></script>
    <script type="text/javascript" src="/javascripts/effects.js"></script>

    <%= stylesheet_link_tag "grooming-salon" %>

    <%= javascript_include_tag :defaults %>
  </head>

  <body>

    <div id="page">
      <div id="header">Grooming Salon</div>

      <div id="content">
        <p style="color: green"><%= flash[:notice] %></p>

        <%= @content_for_layout %>
      </div>
      
      <div id="sidebar">
        <br>
        <br>
        <br>

              <ul>
                      <li id="menu" class="bg6">
                              <!--h2 class="bg1">Menu</h2-->
                              <ul>
                                      <li class="first"><%= link_to "Home", :controller => "homes", :action => "index" %></li>
                                      <li><%= link_to "Companies", :controller => "companies", :action => "index" %></li>
                                      <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Users", :controller => "users", :action => "index" %></li>
                                      <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Groomers", :controller => "groomers", :action => "index" %></li>
                                      <li><%= link_to "Pet Owners", :controller => "pet_owners", :action => "index" %></li>
                                      <li>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Pets", :controller => "pets", :action => "index" %></li>
                                      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Appointments", :controller => "appointments", :action => "index" %></li>
                                      <li><%= link_to "Reports", :controller => "reports", :action => "index" %></li>
                              </ul>

                      </li>
              </ul>
      </div>

      <div id="footer">
        <table width="100%">
          <tr align="center"><td>
        <%= javascript_include_tag 'prototype' %>

        <% if ENV['RAILS_ENV'] == 'development' %>
            <div id="debug" style="margin: 40px 5px 5px 5px;">
                <a href="#" onclick="Element.toggle('debug_info');return false" style="text-decoration: none; color: #ccc;">Show Debug Info &#10162;</a>
                <div id="debug_info" style="display : none;">
                    <%= debug session %>
                    <%= debug params %>
                </div>
            </div>
        <% end %>

        Copyright &copy; 2008 Dream Programs Inc.
        </td></tr>
        </table>
      </div>

    </div>

 </body>
</html>
