  <%= f.error_messages %>

  <%
    if mode == 'new'
      submitText = "Create"
    else
      submitText = "Update"
    end
  %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.submit submitText %>
    <%= link_to 'Cancel', companies_path %>
  </p>
