  <%= f.error_messages %>

  <p>
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </p>
  <p>
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit label_text %>
  </p>
