  <%= f.error_messages %>

  <%
    if mode == 'new'
      submitText = "Create"
    else
      submitText = "Update"
    end
  %>

  <p>
    <%= f.label :'first Name' %><br />
    <%= f.text_field :firstName %>
  </p>
  <p>
    <%= f.label :'last Name' %><br />
    <%= f.text_field :lastName %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit submitText %>
  </p>
