<h1>Listing Pets</h1>

<%= button_to 'New Pet', new_pet_path %>

<% unless @pets.empty? %>
  <br />

  <table border="0">
    <tr>
      <th>Pet Owner</th>
      <th>Cat or Dog?</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Size</th>
      <th>Sex</th>
      <th>Color</th>
      <th>Birth Date</th>
      <th colspan="5">Commands</th>
    </tr>

    <% for pet in @pets %>
      <tr <%= "style='color:red'" if pet.alive == 'no' %>  valign="top" class="<%=cycle('list-line-odd', 'list-line-even')%>">
        <td><%=h pet.pet_owner.name if pet.pet_owner != nil %></td>
        <td><%=h pet.subtype%></td>
        <td><%=h pet.name %></td>
        <td><%=h pet.breed %></td>
        <td><%=h pet.size %></td>
        <td><%=h pet.sex %></td>
        <td><%=h pet.color %></td>
        <td><%=h pet.birth_date %></td>

        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Delete', pet, :confirm => 'Are you sure?', :method => :delete %></td>

        <% if pet.appointments.size > 0 %>
          <td><%= link_to 'Appointments', :controller => "appointments", :action => "index", :pet_id => pet.id, :pet_owner_id => pet.pet_owner.id %></td>
        <% else %>
          <td>Appointments</td>
        <% end %>

        <% if pet.pet_owner != nil %>
          <td><%= link_to 'New Appointment', :controller => "appointments", :action => "new", :pet_id => pet.id, :pet_owner_id => pet.pet_owner.id  %></td>
        <% else %>
          <td>New Appointment</td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

