  <%= f.error_messages %>

  <%
    if mode == 'new'
      submitText = "Create"
    else
      submitText = "Update"
    end

    if mode == 'edit' || params[:pet_id] != nil
      disabled1 = true
    else
      disabled1 = false
    end
  %>

  <p>
    <%= f.label :'pet Owner' %><br />
    <%= collection_select(:appointment, :pet_owner_id, PetOwner.find(:all, :order => "lastName"), :id, :name, {}, {:disabled => disabled1}) %>
  </p>
              
  <p>
    <%= f.label :'Pet' %><br />
    <%= collection_select(:appointment, :pet_id,  Pet.find(:all, :order => "name", :conditions => ["id = '1'"]), :id, :name, {}, {:disabled => disabled1}) %>
  </p>

  <p>
    <%= f.label :'groomer' %><br />

    <%= collection_select(:appointment, :groomer_id,  Groomer.find(:all, :order => "lastName"), :id, :name) %>

  </p>

  <p>
    <%= f.label :'appointment Date' %><br />
    <%= f.datetime_select :appointmentDate %>
  </p>

  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit submitText %>
  </p>

