<h1>Editing appointment</h1>

<% form_for(@appointment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :appointmentDate %><br />
    <%= f.datetime_select :appointmentDate %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @appointment %> |
<%= link_to 'Back', appointments_path %>
