<p>
  <b>Pet Owner:</b>
  <%=h @appointment.pet_owner.name %>
</p>

<p>
  <b>Pet:</b>
  <%=h @appointment.pet.name %>
</p>

<p>
  <b>Groomer:</b>
  <%=h @appointment.groomer.name %>
</p>

<p>
  <b>Appointment Date:</b>
  <%=h @appointment.appointmentDate %>
</p>

<p>
  <b>Price:</b>
  <%=h @appointment.price %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
